{{- if fileExists (add `static/assets/` .Destination) }}
  {{- $img := resources.Get .Destination }}
  {{- $imgResize := $img.Resize "720x webp" }}
  <div class="flex justify-center content-center">
    <figure
      class="flex flex-col justify-center content-center mx-auto"
    >
      <a href="{{ $img.Permalink | safeURL }}" target="_blank">
        <img
          src="{{ $imgResize.Permalink | safeURL }}"
          class="img-fluid mb-2"
          alt="{{ .Title | safeHTML }}"
        />
      </a>
      {{- with .Text }}
        <figcaption class="text-lg text-center font-colfax">{{ . | safeHTML }}</figcaption>
      {{ end -}}
    </figure>
  </div>
{{ end -}}
