<!-- BEGIN Footer -->
<footer class="mb-[55px]">
  <div
    class="mx-auto flex w-full max-w-[320px] flex-col content-center justify-center"
  >
    <div class="mb-[20px] flex content-center justify-between font-medium">
      <a href="/disclaimer"> Disclaimer </a>
      <a href="/privacy-policy"> Privacy Policy </a>
      <a href="/contact"> Contact </a>
    </div>
    <div class="flex flex-col content-center justify-center">
      <img
        class="mx-auto mb-4 h-[64px] w-[64px]"
        src="/assets/images/logo/OpenAI-University_logo_circle.png"
        alt="openai"
      />
      <span class="mx-auto">
        Copyright
        <img
          class="align-base mx-2 inline-block"
          src="/assets/images/copyright.svg"
          alt="copyright"
        />
        {{ now.Year }} - OpenAI</span
      >
    </div>
  </div>
</footer>
<!-- EOL Footer -->
