<!-- BEGIN Footer -->
<footer class="mb-[55px]">
  <div
    class="mx-auto flex w-full max-w-[320px] flex-col content-center justify-center"
  >
    <div class="mb-[20px] flex content-center justify-between font-medium">
      <a href="/disclaimer"> Disclaimer </a>
      <a href="/privacy-policy"> Privacy Policy </a>
      <a href="/contact"> Contact </a>
    </div>
    <div class="flex content-center justify-center">
      <span>
        <img
          class="align-base mr-2 inline-block"
          src="/assets/images/copyright.svg"
          alt="copyright"
        />
        Copyright {{ now.Year }} - OpenAI</span
      >
    </div>
  </div>
</footer>
<!-- EOL Footer -->
